@*
* John Moreau
* CSS233
* 12/10/2023
*@
@model RegistrationViewModel
@{
    ViewData["Title"] = "Registrations";
}
@*Check if we have any values in our model*@
<h2>Customer: @Model.Customer?.Name</h2>
<h3 class="mt-4">Registrations</h3>
@if (Model.Customer?.Registrations != null && Model.Customer?.Registrations.Count > 0) @**@
{


    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="col-4">
                    Product
                    <a asp-controller="Registration" asp-action="GetItems" asp-route-CurrentCustomerId="@Model.CurrentCustomerId" asp-route-CurrentProductId="0" asp-route-sortBy="@Model.GetSortBy("Product")" asp-route-sortOrder="@Model.GetNewSortOrder("Product")" class="sort-button">
                        <span class="sort-icon fas @Model.GetSortIcon("Product")" style="margin-left: 5px;"></span>
                    </a>
                </th>
                <th class="col-1">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reg in Model.Customer.Registrations)
            {
                <tr>
                    <td>@reg.Product?.Name</td>
                    <td><a class="btn btn-primary" asp-controller="Registration" asp-action="Delete" asp-route-CurrentProductId="@reg.Product?.Id" asp-route-CurrentCustomerId="@Model.CurrentCustomerId">Delete</a></td> @*asp-route-slug="@incident?.Slug"*@
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mb-3">
        <p>No Registrations Found. Try adding one below!</p>
    </div>
}

@if(Model.Products != null)
{
    <h1>Product</h1>
    @*<div asp-validation-summary="All" class="text-danger"></div>*@

    <form asp-controller="Registration" asp-action="RegisterItem" method="post">
        <div class="row mb-3">
            @*<label class="form-label">Product</label>*@
            <div class="col-6">
                <select asp-for="CurrentProductId" asp-items="@(new SelectList(Model.Products, "Id", "Name"))" class="form-select">
                    <option value=-1>Select a Product...</option>
                </select>
                <div class="text-danger">@Html.ValidationMessage("CurrentProductId")</div>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Register</button>
            <a asp-controller="Registration" asp-action="GetCustomer"
               class="btn btn-primary">Back</a>
        </div>

        <input type="hidden" asp-for="CurrentCustomerId" />

    </form>

}
