@*
* John Moreau
* CSS233
* 12/9/2023
*@
@model List<Product>
@{
    string GetCurrentSortOrder(string sortBy) => ViewData[(sortBy + "SortOrder")]?.ToString() ?? "";

    // For getting a new sort order to pass to my backend controller so that the URL query matches the actual sort order >:|
    string GetNewSortOrder(string sortBy) => GetCurrentSortOrder(sortBy) switch
    {
        "asc" => "desc",
        "desc" => "",
        _ => "asc",
    };

    // For getting the sort by value to pass to my backend controller so that the URL query will go away when I'm not sorting by anything
    string GetSortBy(string sortBy)
    {
        if (GetNewSortOrder(sortBy) == "") return "";
        return sortBy;
    }

    // Get Icon for sort
    string GetSortIcon(string sortBy) => GetCurrentSortOrder(sortBy) switch
    {
        "asc" => "fa-arrow-up",
        "desc" => "fa-arrow-down",
        _ => "fa-sort",
    };
}
@{
    ViewData["Title"] = "Product Manager";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Code
                <a asp-controller="Product" asp-action="List" asp-route-sortBy="@(GetSortBy("Code"))" asp-route-sortOrder="@(GetNewSortOrder("Code"))" class="sort-button">
                    <span class="sort-icon fas @GetSortIcon("Code")" style="margin-left: 5px;"></span>
                </a>
            </th>
            <th>
                Name
                <a asp-controller="Product" asp-action="List" asp-route-sortBy="@(GetSortBy("Name"))" asp-route-sortOrder="@(GetNewSortOrder("Name"))" class="sort-button">
                    <span class="sort-icon fas @GetSortIcon("Name")" style="margin-left: 5px;"></span>
                </a>
            </th>
            <th>
                Price
                <a asp-controller="Product" asp-action="List" asp-route-sortBy="@(GetSortBy("Price"))" asp-route-sortOrder="@(GetNewSortOrder("Price"))" class="sort-button">
                    <span class="sort-icon fas @GetSortIcon("Price")" style="margin-left: 5px;"></span>
                </a>
            </th>
            <th>
                Release Date
                <a asp-controller="Product" asp-action="List" asp-route-sortBy="@(GetSortBy("ReleaseDate"))" asp-route-sortOrder="@(GetNewSortOrder("ReleaseDate"))" class="sort-button">
                    <span class="sort-icon fas @GetSortIcon("ReleaseDate")" style="margin-left: 5px;"></span>
                </a>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Code</td>
                <td>@product.Name</td>
                <td>@product.Price.ToString("C2")</td>
                <td>@product.ReleaseDate.ToString("d")</td>
                <td><a class="btn btn-primary" asp-controller="Product" asp-action="Edit" asp-route-id="@product?.Id" asp-route-slug="@product?.Slug">Edit</a></td>
                <td><a class="btn btn-primary" asp-controller="Product" asp-action="Delete" asp-route-id="@product?.Id" asp-route-slug="@product?.Slug">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<div class="mb-4">
    <a class="btn btn-primary" asp-controller="Product" asp-action="Add">Add Product</a>
</div>