@*
* John Moreau
* CSS233
* 10/28/2023
*@
@model List<Product>
@{
    // For getting a new sort order to pass to my backend controller so that the URL query matches the actual sort order >:|
    string GetNewSortOrder(string sortOrder)
    {
        switch (sortOrder)
        {
            case "asc":
                return "desc";
            case "desc":
                return "";
            default:
                return "asc";
        }

    }

    // For getting the sort by value to pass to my backend controller so that the URL query will go away when I'm not sorting by anything
    string GetSortBy(string sortBy, string sortOrder)
    {
        if (sortOrder == "") return "";

        return sortBy;

    }
}
@{
    ViewData["Title"] = "Product Manager";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Code
                <a asp-controller="Product" asp-action="List" asp-route-sortBy="@(GetSortBy("Code", GetNewSortOrder(ViewData["CodeSortOrder"]?.ToString() ?? "")))" asp-route-sortOrder="@(GetNewSortOrder(ViewData["CodeSortOrder"]?.ToString() ?? ""))" class="sort-button">
                    @switch (ViewData["CodeSortOrder"]?.ToString() ?? "")
                    {
                        case "asc":
                            <span class="sort-icon fas fa-arrow-up" style="margin-left: 5px;"></span>
                            break;
                        case "desc":
                            <span class="sort-icon fas fa-arrow-down" style="margin-left: 5px;"></span>
                            break;
                        default:
                            <span class="sort-icon fas fa-sort" style="margin-left: 5px;"></span>
                            break;
                    }
                </a>
            </th>
            <th>
                Name
                <a asp-controller="Product" asp-action="List" asp-route-sortBy="@(GetSortBy("Name", GetNewSortOrder(ViewData["NameSortOrder"]?.ToString() ?? "")))" asp-route-sortOrder="@(GetNewSortOrder(ViewData["NameSortOrder"]?.ToString() ?? ""))" class="sort-button">
                    @switch (ViewData["NameSortOrder"]?.ToString() ?? "")
                    {
                        case "asc":
                            <span class="sort-icon fas fa-arrow-up" style="margin-left: 5px;"></span>
                            break;
                        case "desc":
                            <span class="sort-icon fas fa-arrow-down" style="margin-left: 5px;"></span>
                            break;
                        default:
                            <span class="sort-icon fas fa-sort" style="margin-left: 5px;"></span>
                            break;
                    }
                </a>
            </th>
            <th>
                Price
                <a asp-controller="Product" asp-action="List" asp-route-sortBy="@(GetSortBy("Price", GetNewSortOrder(ViewData["PriceSortOrder"]?.ToString() ?? "")))" asp-route-sortOrder="@(GetNewSortOrder(ViewData["PriceSortOrder"]?.ToString() ?? ""))" class="sort-button">
                    @switch (ViewData["PriceSortOrder"]?.ToString() ?? "")
                    {
                        case "asc":
                            <span class="sort-icon fas fa-arrow-up" style="margin-left: 5px;"></span>
                            break;
                        case "desc":
                            <span class="sort-icon fas fa-arrow-down" style="margin-left: 5px;"></span>
                            break;
                        default:
                            <span class="sort-icon fas fa-sort" style="margin-left: 5px;"></span>
                            break;
                    }
                </a>
            </th>
            <th>
                Release Date
                <a asp-controller="Product" asp-action="List" asp-route-sortBy="@(GetSortBy("ReleaseDate", GetNewSortOrder(ViewData["ReleaseDateSortOrder"]?.ToString() ?? "")))" asp-route-sortOrder="@(GetNewSortOrder(ViewData["ReleaseDateSortOrder"]?.ToString() ?? ""))" class="sort-button">
                    @switch (ViewData["ReleaseDateSortOrder"]?.ToString() ?? "")
                    {
                        case "asc":
                            <span class="sort-icon fas fa-arrow-up" style="margin-left: 5px;"></span>
                            break;
                        case "desc":
                            <span class="sort-icon fas fa-arrow-down" style="margin-left: 5px;"></span>
                            break;
                        default:
                            <span class="sort-icon fas fa-sort" style="margin-left: 5px;"></span>
                            break;
                    }
                </a>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                @*<td>
                    <a asp-controller="Contact" asp-action="Details" asp-route-id="@product.ContactId"
                       asp-route-slug="@product.Slug" style="text-decoration: none;">@product.FirstName</a>
                </td>
                <td>
                    <a asp-controller="Contact" asp-action="Details" asp-route-id="@product.ContactId"
                       asp-route-slug="@product.Slug" style="text-decoration: none;">@product.LastName</a>
                </td>*@
                <td>@product.Code</td>
                <td>@product.Name</td>
                <td>@product.Price.ToString("C2")</td>
                <td>@product.ReleaseDate.ToString("d")</td>
                <td><a class="btn btn-primary" asp-controller="Product" asp-action="Edit" asp-route-id="@product?.Id" asp-route-slug="@product?.Slug">Edit</a></td>
                <td><a class="btn btn-primary" asp-controller="Product" asp-action="Delete" asp-route-id="@product?.Id" asp-route-slug="@product?.Slug">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<div class="mb-4">
    <a class="btn btn-primary" asp-controller="Product" asp-action="Add">Add Product</a>
</div>