@*
* John Moreau
* CSS233
* 12/9/2023
*@
@model IncidentViewModel
@{
    ViewData["Title"] = "Incident Manager";
}
<h1>@ViewData["Title"]</h1>
@if (Model.Incidents != null)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Title
                    <a asp-controller="Incident" asp-action="List" asp-route-sortBy="@Model.GetSortBy("Title")" asp-route-sortOrder="@Model.GetNewSortOrder("Title")" class="sort-button">
                        <span class="sort-icon fas @Model.GetSortIcon("Title")" style="margin-left: 5px;"></span>
                    </a>
                </th>
                <th>
                    Customer
                    <a asp-controller="Incident" asp-action="List" asp-route-sortBy="@Model.GetSortBy("Customer")" asp-route-sortOrder="@Model.GetNewSortOrder("Customer")" class="sort-button">
                        <span class="sort-icon fas @Model.GetSortIcon("Customer")" style="margin-left: 5px;"></span>
                    </a>
                </th>
                <th>
                    Product
                    <a asp-controller="Incident" asp-action="List" asp-route-sortBy="@Model.GetSortBy("Product")" asp-route-sortOrder="@Model.GetNewSortOrder("Product")" class="sort-button">
                        <span class="sort-icon fas @Model.GetSortIcon("Product")" style="margin-left: 5px;"></span>
                    </a>
                </th>
                <th>
                    Date Opened
                    <a asp-controller="Incident" asp-action="List" asp-route-sortBy="@Model.GetSortBy("DateOpened")" asp-route-sortOrder="@Model.GetNewSortOrder("DateOpened")" class="sort-button">
                        <span class="sort-icon fas @Model.GetSortIcon("DateOpened")" style="margin-left: 5px;"></span>
                    </a>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var incident in Model.Incidents)
            {
                <tr>
                    <td>@incident.Title</td>
                    <td>@incident.Customer?.Name</td>
                    <td>@incident.Product?.Name</td>
                    <td>@incident.DateOpened?.Split(" ")[0]</td>
                    <td><a class="btn btn-primary" asp-controller="Incident" asp-action="Edit" asp-route-id="@incident?.Id">Edit</a></td> @*asp-route-slug="@incident?.Slug"*@
                    <td><a class="btn btn-primary" asp-controller="Incident" asp-action="Delete" asp-route-id="@incident?.Id">Delete</a></td> @*asp-route-slug="@incident?.Slug"*@
                </tr>
            }
        </tbody>
 
    </table>
}
else
{
    <div>
        No Incidents Found.
    </div>
}
<div class="mb-4">
    <a class="btn btn-primary" asp-controller="Incident" asp-action="Edit">Add Incident</a>
</div>