@*
* John Moreau
* CSS233
* 12/9/2023
*@
@model IncidentViewModel
@{
    ViewData["Title"] = "TechIncMgr";
}
<h1>Technician Incident Manager</h1>
<form asp-controller="Incident" asp-action="TechIncident" method="post">
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <div class="mb-3">
        <label class="form-label">Technician</label>
        <select asp-for="CurrentTechnician.Id" name="Id" asp-items="@(new SelectList(Model.Technicians, "Id", "Name"))" class="form-select" id="technician-select" >
            <option value=-2>Select a technician...</option>
        </select>
        <div class="text-danger">@Html.ValidationMessage("Id")</div>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Load Incidents</button>
        <a asp-controller="Home" asp-action="Index"
           class="btn btn-primary">Back</a>
    </div>
</form>

@*Check if we have any values in our model*@
@if (Model.CurrentTechnician != null && Model.Incidents != null && Model.Incidents.Count > 0)
{
    <h2>Technician: @Model.CurrentTechnician.Name</h2>
    <h3>Assigned/Open Incidents</h3>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Title
                    <a asp-route-id="@Model.CurrentTechnician.Id" asp-controller="Incident" asp-action="TechIncident" asp-route-sortBy="@Model.GetSortBy("Title")" asp-route-sortOrder="@Model.GetNewSortOrder("Title")" class="sort-button">
                        <span class="sort-icon fas @Model.GetSortIcon("Title")" style="margin-left: 5px;"></span>
                    </a>
                </th>
                <th>
                    Customer
                    <a asp-route-id="@Model.CurrentTechnician.Id" asp-controller="Incident" asp-action="TechIncident" asp-route-sortBy="@Model.GetSortBy("Customer")" asp-route-sortOrder="@Model.GetNewSortOrder("Customer")" class="sort-button">
                        <span class="sort-icon fas @Model.GetSortIcon("Customer")" style="margin-left: 5px;"></span>
                    </a>
                </th>
                <th>
                    Product
                    <a asp-route-id="@Model.CurrentTechnician.Id" asp-controller="Incident" asp-action="TechIncident" asp-route-sortBy="@Model.GetSortBy("Product")" asp-route-sortOrder="@Model.GetNewSortOrder("Product")" class="sort-button">
                        <span class="sort-icon fas @Model.GetSortIcon("Product")" style="margin-left: 5px;"></span>
                    </a>
                </th>
                <th>
                    Date Opened
                    <a asp-route-id="@Model.CurrentTechnician.Id" asp-controller="Incident" asp-action="TechIncident" asp-route-sortBy="@Model.GetSortBy("DateOpened")" asp-route-sortOrder="@Model.GetNewSortOrder("DateOpened")" class="sort-button">
                        <span class="sort-icon fas @Model.GetSortIcon("DateOpened")" style="margin-left: 5px;"></span>
                    </a>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var incident in Model.Incidents)
            {
                <tr>
                    <td>@incident.Title</td>
                    <td>@incident.Customer?.Name</td>
                    <td>@incident.Product?.Name</td>
                    <td>@incident.DateOpened?.Split(" ")[0]</td>
                    <td><a class="btn btn-primary" asp-controller="Incident" asp-action="TechEdit" asp-route-id="@incident?.Id">Edit</a></td> @*asp-route-slug="@incident?.Slug"*@
                </tr>
            }
        </tbody>
    </table>
} else
{
    @if(Model.CurrentTechnician != null && Model?.CurrentTechnician?.Id != 0)
    {
        <div class="mb-3">
            <p>No Incidents Found</p>
        </div>
    }

}
