@*
* John Moreau
* CSS233
* 12/9/2023
*@
@model List<Customer>
@{
    string GetCurrentSortOrder(string sortBy) => ViewData[(sortBy + "SortOrder")]?.ToString() ?? "";

    // For getting a new sort order to pass to my backend controller so that the URL query matches the actual sort order >:|
    string GetNewSortOrder(string sortBy) => GetCurrentSortOrder(sortBy) switch
    {
        "asc" => "desc",
        "desc" => "",
        _ => "asc",
    };

    // For getting the sort by value to pass to my backend controller so that the URL query will go away when I'm not sorting by anything
    string GetSortBy(string sortBy)
    {
        if (GetNewSortOrder(sortBy) == "") return "";
        return sortBy;
    }

    // Get Icon for sort
    string GetSortIcon(string sortBy) => GetCurrentSortOrder(sortBy) switch
    {
        "asc" => "fa-arrow-up",
        "desc" => "fa-arrow-down",
        _ => "fa-sort",
    };
}
@{
    ViewData["Title"] = "Customer Manager";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Name
                <a asp-controller="Customer" asp-action="List" asp-route-sortBy="@(GetSortBy("Name"))" asp-route-sortOrder="@(GetNewSortOrder("Name"))" class="sort-button">
                    <span class="sort-icon fas @GetSortIcon("Name")" style="margin-left: 5px;"></span>
                </a>
            </th>
            <th>
                Email
                <a asp-controller="Customer" asp-action="List" asp-route-sortBy="@(GetSortBy("Email"))" asp-route-sortOrder="@(GetNewSortOrder("Email"))" class="sort-button">
                    <span class="sort-icon fas @GetSortIcon("Email")" style="margin-left: 5px;"></span>
                </a>
            </th>
            <th>
                City
                <a asp-controller="Customer" asp-action="List" asp-route-sortBy="@(GetSortBy("City"))" asp-route-sortOrder="@(GetNewSortOrder("CitySortOrder"))" class="sort-button">
                    <span class="sort-icon fas @GetSortIcon("City")" style="margin-left: 5px;"></span>
                </a>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.FirstName @customer.LastName</td>
                <td>@customer.Email</td>
                <td>@customer.City</td>
                <td><a class="btn btn-primary" asp-controller="Customer" asp-action="Edit" asp-route-id="@customer?.Id" asp-route-slug="@customer?.Slug">Edit</a></td>
                <td><a class="btn btn-primary" asp-controller="Customer" asp-action="Delete" asp-route-id="@customer?.Id" asp-route-slug="@customer?.Slug">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<div class="mb-4">
    <a class="btn btn-primary" asp-controller="Customer" asp-action="Add">Add Customer</a>
</div>